/* .form {
    margin: 1rem 0;
    height: 19rem;
    overflow: auto;
  } */
  .cartes{
    
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 10rem;
    overflow: auto;
    padding: 1rem 0;
    margin: 1rem 0;
    
  }
  .cont{
    border: 1px solid rgb(29, 22, 60);
    border-radius: 10px;
    width: 400px;
    padding-left: 20px;
    margin: auto;
    padding-bottom: 12px;
    padding-top: 10px;
    background-color: #eee7e8;
  }
  

  .form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

.buttonfalse {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonfalse:hover,
.buttonfalse:active {
  background-color: #33059e;
  border-color: #33059e;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
.ssss{
  color: red;
}
.sss{
  background-color: rgb(83, 76, 76);
  font: inherit;
  color: white;
  border: 1px solid #240370;
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.butset{
  background-color: rgb(27, 15, 74);
  font: inherit;
  color: white;
  border: 1px solid #240370;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.cartes input{
 
  width: 290px;
  height: 16px;
}
.zakaz{
  color: rgb(13, 16, 195);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.zakaz-name{
  border: 2px solid;
  width: 300px;
  background-color: #f8f54e;
  border-radius: 50%;
  margin: 20px auto;
  padding: 20px;
}